body {
	padding: 50px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: row;
	background-color: #0e1f1f;
	align-items: center;
	justify-content: center;
}

.novarunner_title {
	font-size: 48px;
	font-weight: 100;
}
